body {
    margin: 0px;
}
.container {
    width: 98%;
}

.container h1 {
    text-align: center;
}

.container main {
    margin-left: 20px;
    margin-right: 20px;
}

.container ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.container .navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.container .navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.container .navbar li {
    float: left;
}